<ion-header>
  <ion-toolbar>
    <ion-title>Garantias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  
  <ion-card *ngFor="let item of listaGarantias" color="light" [routerLink]="['/garantia-detalhe', item.id]" button="true">
    <ion-card-header>
      <ion-card-title>{{ item.nome }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <h2 style="color: green; font-weight: bold;">{{ item.diasRestantes }} dias restantes</h2>
      <p><strong>Comprado a:</strong> {{ item.dataCompra }}</p>
      <p><strong>Local:</strong> {{ item.localFisico }}</p>
    </ion-card-content>
  </ion-card>

</ion-content>