<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>O meu perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div *ngIf="perfil" class="ion-text-center">
    
    <ion-avatar style="margin: 20px auto; width: 100px; height: 100px;">
      <img [src]="perfil.foto" alt="Avatar">
    </ion-avatar>

    <h2>{{ perfil.nome }}</h2>
    <p>{{ perfil.email }}</p>

    <ion-list lines="full" class="ion-margin-top">
      <ion-list-header>
        <ion-label>Preferências de notificação</ion-label>
      </ion-list-header>

      <ion-item>
        <ion-label>Alertas por Email</ion-label>
        <ion-toggle [(ngModel)]="perfil.preferencias.notificacoesEmail"></ion-toggle>
      </ion-item>

      <ion-item>
        <ion-label>Notificações Push</ion-label>
        <ion-toggle [(ngModel)]="perfil.preferencias.notificacoesPush"></ion-toggle>
      </ion-item>
    </ion-list>

    <div class="ion-margin-top">
      <ion-button expand="block" color="light">Editar Perfil</ion-button>
      <ion-button expand="block" color="danger" (click)="terminarSessao()">
        Terminar Sessão
      </ion-button>
    </div>

  </div>
</ion-content>