/* Bolas de progresso do formulário (1, 2, 3, 4, 5) */
.wizard-indicador {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.bola-passo {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  line-height: 25px;
  /* Cor inativa (Cinzento) */
  background: var(--ion-color-light);
  color: var(--ion-color-light-contrast);
}

.bola-passo.ativo {
  /* Cor ativa (Verde) */
  background: var(--ion-color-primary);
  color: var(--ion-color-primary-contrast);
}

/* Campos de preenchimento (Inputs) do Passo 1 */
.input-item {
  --border-radius: 0px;
  margin-bottom: 10px;
}

.input-wrapper {
  width: 100%;
  padding: 5px 0;
}

.input-label {
  font-size: 12px;
  color: var(--ion-text-color);
  opacity: 0.7;
}

/* Input nativo de data para evitar conflitos no telemóvel */
.input-data {
  width: 100%;
  background: transparent;
  border: none;
  padding: 10px 0;
  outline: none;
  font-size: 16px;
  font-family: inherit;
  color: var(--ion-text-color);
}

/* Caixa grande para clicar e tirar fotografia (Passos 2 e 3) */
.upload-caixa {
  background-color: var(--ion-color-light);
  color: var(--ion-text-color);
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px 0;
  cursor: pointer;
  /* Design flat (sem cantos redondos) */
  border-radius: 0px; 
}

/* Caixa de informação por baixo da foto (Tamanho/Formato) */
.upload-info-caixa {
  background-color: var(--ion-color-light);
  color: var(--ion-color-light-contrast);
  padding: 10px;
  font-size: 12px;
  text-align: center;
  border-radius: 0px;
}

/* Disposição dos botões de alerta (Passo 4) */
.opcoes-alerta {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  margin-top: 30px;

  ion-button {
    width: 60%;
    --border-radius: 0px;
    text-transform: none;
  }
}